@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=WDXL+Lubrifont+TC&display=swap');

body {
    background-color: #212121;
    color: aliceblue;
    font-family: "WDXL Lubrifont TC", sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

header {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.header-btn {
    display: block;
    background-color: rgba(167, 139, 250);
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    color: #1a1a1a;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 8px;
    text-decoration: none;
}

.header-btn:hover {
    opacity: .8;
}
